@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  margin: 0;
  min-width: 365px;
}

.page__title {
  font-family: "Shrikhand", cursive;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 576px) {
  .restaurant__card figure {
    margin: 0;
  }
  .restaurant__card img {
    object-fit: cover;
    width: 100%;
    height: 20vh;
    border-radius: 20px 20px 0 0;
  }
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  .restaurant__card figure {
    margin: 0;
  }
  .restaurant__card img {
    object-fit: cover;
    width: 100%;
    height: 20vh;
    border-radius: 20px 20px 0 0;
  }
}
@media screen and (max-width: 576px) {
  header {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  header h1 {
    margin: 0.8rem 0 0.5rem 0;
    height: auto;
  }
  header img {
    width: 50%;
  }

  .return-title {
    width: 100%;
    margin: 1.5rem 0 0.8rem 0;
  }
  .return-title a {
    text-decoration: none;
    color: black;
    vertical-align: super;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    font-size: 1.3rem;
  }
  .return-title img {
    margin-left: 2rem;
  }
}
.container header {
  text-align: center;
}

@media screen and (min-width: 577px) and (max-width: 992px) {
  header h1 {
    margin: 0.5rem auto;
  }
  header img {
    width: 40%;
  }
}
.return-title {
  display: flex;
  align-items: center;
  margin: 1.5rem 0 0.8rem 0;
}
.return-title a {
  text-decoration: none;
  color: black;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  font-size: 1.5rem;
}
.return-title img {
  margin: auto;
}

.city {
  background-color: #e6e6e6;
  border-top: #d9d9d9 0.2rem solid;
  text-align: center;
  padding: 1rem 0;
  margin: 0;
}
.city span {
  display: inline-block;
  width: 50%;
}

.info-block {
  background-color: #f2f2f2;
  text-align: center;
}
.info-block h2 {
  font-weight: bolder;
}
.info-block h3 {
  font-weight: normal;
}

@media screen and (max-width: 576px) {
  .city span {
    margin-left: -30px;
  }

  .info-block h2 {
    padding-top: 2rem;
    font-size: 1.6rem;
    margin-top: 0;
    margin: 0 3rem;
  }
  .info-block h3 {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  .info-block {
    padding-top: 2rem;
  }

  h3 {
    margin-bottom: 3rem;
  }
}
@media screen and (max-width: 576px) {
  .card-image {
    margin: 0 -18px;
  }
  .card-image img {
    object-fit: cover;
    width: 100%;
    height: 40vh;
  }
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  .card-image {
    margin: 0 -18px;
  }
  .card-image img {
    object-fit: cover;
    width: 100%;
    height: 40vh;
  }
}
.menu {
  margin-bottom: 4rem;
}
.menu h2 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  font-weight: 600;
  margin-top: 2.5rem;
}
.menu__number {
  background-color: #9356dc;
  color: white;
  border-radius: 50px;
  text-align: center;
  width: 1.3rem;
  height: 1.3rem;
}
.menu__list {
  background-color: #f2f2f2;
  box-shadow: 0 7px 10px 0 #d9d9d9;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  border-radius: 25px;
  padding: 0.5rem;
  cursor: pointer;
}
.menu__list--word {
  font-weight: bold;
  margin-right: 2.5rem;
  width: 190px;
}
.menu__icon {
  color: gray;
  font-size: 1.2rem;
  width: 25px;
}
.menu__number {
  width: 20px;
}

@media screen and (max-width: 576px) {
  .menu__number--1 {
    margin-left: -1.8rem;
  }
  .menu__number--2, .menu__number--3 {
    margin-left: -2rem;
  }
  .menu__list {
    margin: 1.2rem auto;
    width: 320px;
  }
  .menu__list:active {
    background-color: #e4d5f6;
  }
  .menu__list:active .menu__icon {
    background-color: #9356dc;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  .menu {
    flex-direction: row;
  }
  .menu__list {
    position: relative;
    width: 90%;
    margin: 1.2rem auto;
  }
  .menu__list:active {
    background-color: #e4d5f6;
  }
  .menu__list:active .menu__icon {
    background-color: #9356dc;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .menu__number {
    position: absolute;
    left: -0.7rem;
  }
}
@media screen and (max-width: 576px) {
  .restaurant {
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    padding-bottom: 3rem;
  }
  .restaurant h2 {
    padding-top: 2rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  .restaurant a {
    color: black;
    height: 380px;
  }
  .restaurant__card {
    background-color: white;
    border-radius: 20px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  .restaurant__card figure {
    padding-bottom: 0.1rem;
  }
  .restaurant__card--new {
    background-color: #99e2d0;
    color: #008766;
    width: 15%;
    padding: 0.2rem;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    font-size: 0.8rem;
  }
  .restaurant__card--size {
    font-size: 1rem;
    margin: 0.5rem;
    padding: 0 0 1rem 0.3rem;
  }
  .restaurant article {
    position: relative;
    box-shadow: 0 7px 10px 0 #cccccc;
    margin-bottom: 1rem;
  }
  .restaurant article h2 {
    font-size: 1rem;
    padding: 0 0 0 0.3rem;
    margin: 0.5rem;
  }
  .restaurant i {
    font-size: 1.5rem;
    position: absolute;
    bottom: 2rem;
    right: 1rem;
  }
  .restaurant i:active {
    background: -webkit-linear-gradient(#9356dc, #ff79da);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    transition: 0.2s;
  }
}
@media screen and (max-width: 576px) {
  .card-image {
    margin: 0;
  }

  .page {
    margin-top: -3.2rem;
    border-radius: 40px;
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .page__title {
    width: 90%;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    font-size: 1.8rem;
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
  }
  .page__title i {
    text-align: right;
    font-size: 1.5rem;
    width: 10%;
    margin: auto;
  }
  .page .dishes {
    width: 100%;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  .page .dishes h3 {
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 0.5rem;
  }
  .page .dishes__bar {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    border-bottom: 0.2rem solid #99e2d0;
    width: 3rem;
  }
  .page .dishes__card {
    width: 85%;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    box-shadow: 0 7px 15px 0 #cccccc;
    border-radius: 20px;
    margin: 1.5rem auto;
    padding: 1rem;
  }
  .page .dishes__card h4,
.page .dishes__card p {
    margin-top: 0.1rem;
    margin-bottom: 0rem;
  }
  .page .dishes h4 {
    font-size: 1.2rem;
  }
  .page .price {
    font-weight: bold;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
  }
}
@media screen and (max-width: 576px) {
  footer {
    background-color: #333333;
    color: white;
    padding: 1rem 0;
  }
  footer h2 {
    margin: 0;
    font-family: "Shrikhand", cursive;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    font-size: 1rem;
  }
  footer ul {
    padding: 0;
  }
  footer li {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    font-size: 1rem;
    list-style: none;
    margin-bottom: 0.5rem;
  }
  footer i {
    width: 8%;
    font-size: 0.8rem;
  }
  footer a {
    color: white;
  }
}
.button {
  cursor: pointer;
  background: linear-gradient(#9356dc, #ff79da);
  font-size: 0.9rem;
  border-radius: 25px;
  border: none;
  box-shadow: 0 7px 10px 0 #b3b3b3;
  color: white;
  font-weight: 510;
  padding: 16px;
  margin-bottom: 3rem;
}

@media screen and (max-width: 576px) {
  .page button {
    border-radius: 30px;
    border: none;
    padding: 1rem 3rem;
    color: white;
    background-color: #9356dc;
    font-size: 1rem;
    margin-bottom: 4rem;
    margin-top: 2rem;
  }
}

/*# sourceMappingURL=styles.css.map */
