@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  margin: 0;
  min-width: 365px;
}

.page__title {
  font-family: "Shrikhand", cursive;
}

a {
  text-decoration: none;
}

.restaurant__card figure {
  margin: 0;
}
.restaurant__card img {
  object-fit: cover;
  width: 100%;
  border-radius: 20px 20px 0 0;
}

@media screen and (max-width: 576px) {
  .restaurant__card img {
    height: 20vh;
  }
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  .restaurant__card img {
    height: 20vh;
  }
}
@media screen and (min-width: 993px) {
  .restaurant__card img {
    height: 20vh;
  }
}
@media screen and (max-width: 576px) {
  header {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  header h1 {
    margin: 0.8rem 0 0.5rem 0;
    height: auto;
  }
  header img {
    width: 50%;
  }

  .return-title {
    width: 100%;
    margin: 1.5rem 0 0.8rem 0;
  }
  .return-title a {
    text-decoration: none;
    color: black;
    vertical-align: super;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    font-size: 1.3rem;
  }
  .return-title img {
    margin-left: 2rem;
  }
}
.container header {
  text-align: center;
}

@media screen and (min-width: 577px) and (max-width: 992px) {
  header h1 {
    margin: 0.5rem auto;
  }
  header img {
    width: 40%;
  }
}
.return-title {
  display: flex;
  align-items: center;
  margin: 1.5rem 0 0.8rem 0;
}
.return-title a {
  text-decoration: none;
  color: black;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  font-size: 1.5rem;
}
.return-title img {
  margin: auto;
}

.city {
  background-color: #e6e6e6;
  border-top: #d9d9d9 0.2rem solid;
  text-align: center;
  padding: 1rem 0;
  margin: 0;
}
.city span {
  display: inline-block;
}

.info-block {
  background-color: #f2f2f2;
  text-align: center;
  padding-top: 2rem;
}
.info-block h2 {
  font-weight: bolder;
}
.info-block h3 {
  font-weight: normal;
}

@media screen and (max-width: 576px) {
  .city span {
    width: 50%;
    margin-left: -30px;
  }

  .info-block h2 {
    padding-top: 2rem;
    font-size: 1.6rem;
    margin-top: 0;
    margin: 0 3rem;
  }
  .info-block h3 {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  .city span {
    width: 20%;
  }

  h3 {
    margin-bottom: 3rem;
  }
}
@media screen and (min-width: 993px) {
  .city i {
    font-size: 1.2rem;
  }
  .city span {
    font-size: 1.2rem;
    width: 15%;
  }

  h3 {
    margin-bottom: 3rem;
  }
}
.card-image {
  margin: 0 -18px;
}
.card-image img {
  object-fit: cover;
}

@media screen and (max-width: 576px) {
  .card-image img {
    width: 100%;
    height: 40vh;
  }
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  .card-image img {
    width: 100%;
    height: 40vh;
  }
}
@media screen and (min-width: 993px) {
  .card-image img {
    width: 100%;
    height: 50vh;
  }
}
@media screen and (min-width: 1400px) {
  .card-image img {
    height: 100vh;
  }
}
.menu {
  margin-bottom: 4rem;
}
.menu h2 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  font-weight: 600;
  margin-top: 2.5rem;
}
.menu__number {
  background-color: #9356dc;
  color: white;
  border-radius: 50px;
  text-align: center;
  width: 1.3rem;
  height: 1.3rem;
}
.menu__list {
  background-color: #f2f2f2;
  box-shadow: 0 7px 10px 0 #d9d9d9;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  border-radius: 25px;
  padding: 0.5rem;
  cursor: pointer;
}
.menu__list--word {
  font-weight: bold;
  margin-right: 2.5rem;
  width: 190px;
}
.menu__icon {
  color: gray;
  font-size: 1.2rem;
  width: 25px;
}
.menu__number {
  width: 20px;
}

@media screen and (max-width: 576px) {
  .menu__number--1 {
    margin-left: -1.8rem;
  }
  .menu__number--2, .menu__number--3 {
    margin-left: -2rem;
  }
  .menu__list {
    margin: 1.2rem auto;
    width: 320px;
  }
  .menu__list:active {
    background-color: #e4d5f6;
    box-shadow: 0 7px 10px 0 gray;
  }
  .menu__list:active .menu__icon {
    background-color: #9356dc;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  .menu {
    flex-direction: row;
  }
  .menu__list {
    position: relative;
    width: 90%;
    margin: 1.2rem auto;
  }
  .menu__list:active {
    background-color: #e4d5f6;
    box-shadow: 0 7px 10px 0 gray;
  }
  .menu__list:active .menu__icon {
    background-color: #9356dc;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .menu__number {
    position: absolute;
    left: -0.7rem;
  }
}
@media screen and (min-width: 993px) {
  .info-block {
    margin-bottom: 10rem;
  }

  .menu {
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  .menu h2 {
    width: 100%;
    position: absolute;
    bottom: 5rem;
  }
  .menu__icon {
    text-align: end;
    height: 20px;
  }
  .menu__icon--list {
    width: 30px;
  }
  .menu__icon--store {
    width: 35px;
  }
  .menu__list {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    width: 30%;
    max-width: 450px;
  }
  .menu__list--word {
    text-align: center;
    margin: auto;
  }
  .menu__list:hover {
    background-color: #e4d5f6;
    box-shadow: 0 7px 10px 0 gray;
  }
  .menu__list:hover .menu__icon {
    background-color: #9356dc;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.restaurant {
  display: flex;
  background-color: #f2f2f2;
}
.restaurant h2 {
  padding-top: 2rem;
}
.restaurant a {
  color: black;
}
.restaurant__card {
  box-shadow: 0 7px 10px 0 #cccccc;
  background-color: white;
  border-radius: 20px;
}
.restaurant__card figure {
  padding-bottom: 0.1rem;
}
.restaurant__card--new {
  background-color: #99e2d0;
  color: #008766;
  padding: 0.2rem;
}
.restaurant__card--size {
  padding: 0 0 1rem 0.3rem;
}

@media screen and (max-width: 576px) {
  .restaurant {
    flex-direction: column;
    padding-bottom: 3rem;
  }
  .restaurant h2 {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  .restaurant a {
    height: 380px;
  }
  .restaurant__card {
    position: relative;
    margin-bottom: 1rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  .restaurant__card--new {
    width: 15%;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    font-size: 0.8rem;
  }
  .restaurant__card--size {
    font-size: 1rem;
    margin: 0.5rem;
  }
  .restaurant__card h2 {
    font-size: 1rem;
    padding: 0 0 0 0.3rem;
    margin: 0.5rem;
  }
  .restaurant__card i {
    position: absolute;
    font-size: 1.5rem;
    bottom: 2rem;
    right: 1rem;
  }
  .restaurant__card i:active {
    background: -webkit-linear-gradient(#9356dc, #ff79da);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    transition: 0.2s;
  }
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  .restaurant {
    position: relative;
    flex-wrap: wrap;
  }
  .restaurant h2 {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    width: 100%;
  }
  .restaurant__card {
    position: relative;
    width: 45%;
    margin: 1rem auto;
  }
  .restaurant__card h2 {
    margin: 0.5rem;
    padding: 0.5rem 0 0 0.3rem;
  }
  .restaurant__card--size {
    margin: 0.5rem;
  }
  .restaurant__card i {
    position: absolute;
    right: 1rem;
    bottom: 2rem;
    font-size: 1.5rem;
  }
  .restaurant__card i:active {
    background: -webkit-linear-gradient(#9356dc, #ff79da);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    transition: 0.2s;
  }
  .restaurant__card--new {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 4.5rem;
    text-align: center;
  }
}
@media screen and (min-width: 993px) {
  .restaurant {
    position: relative;
    flex-wrap: wrap;
  }
  .restaurant h2 {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    width: 100%;
    top: 0;
  }
  .restaurant__card {
    position: relative;
    width: 45%;
    max-width: 600px;
    margin: 1rem auto;
  }
  .restaurant__card h2 {
    margin: 0.5rem;
    padding: 0.5rem 0 0 0.3rem;
    font-size: 1.6rem;
  }
  .restaurant__card--size {
    margin: 0.5rem;
    font-size: 1.2rem;
  }
  .restaurant__card i {
    position: absolute;
    right: 1rem;
    bottom: 2.5rem;
    font-size: 1.5rem;
  }
  .restaurant__card i:hover {
    background: -webkit-linear-gradient(#9356dc, #ff79da);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    transition: 0.2s;
  }
  .restaurant__card--new {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 4.5rem;
    text-align: center;
  }
}
@media screen and (min-width: 1400px) {
  .restaurant__card {
    width: 24%;
    margin: 1rem auto;
  }
}
.card-image {
  margin: 0;
}

.page {
  background-color: white;
  display: flex;
  align-items: center;
}
.page__title {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding-top: 2rem;
}
.page__title i {
  width: 10%;
  text-align: right;
}
.page .dishes h3 {
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 0.5rem;
}
.page .dishes__bar {
  border-bottom: 0.2rem solid #99e2d0;
}
.page .dishes__card {
  display: flex;
  flex-direction: row;
  box-shadow: 0 7px 15px 0 #cccccc;
  border-radius: 20px;
  margin: 1.5rem auto;
  padding: 0 1rem;
}
.page .dishes__card:active .dishes__card--box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
}
.page .dishes__card h4,
.page .dishes__card p {
  margin-top: 0.1rem;
  margin-bottom: 0rem;
}
.page .dishes__card h4 {
  padding-top: 1rem;
}
.page .dishes__card p {
  padding-bottom: 1rem;
}
.page .dishes__card .price {
  font-weight: bold;
}
.page .dishes__card--box {
  background-color: #99e2d0;
  border-radius: 0 20px 20px 0;
  color: white;
  margin: 0;
  display: none;
}
.page .dishes__card--box i {
  font-size: 2rem;
}

@media screen and (max-width: 576px) {
  .page {
    margin-top: -3.2rem;
    border-radius: 40px;
    position: relative;
    flex-direction: column;
  }
  .page__title {
    font-size: 1.8rem;
  }
  .page__title i {
    font-size: 1.5rem;
    margin: auto;
  }
  .page .dishes {
    width: 100%;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  .page .dishes__bar {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    width: 3rem;
  }
  .page .dishes__card {
    width: 85%;
    position: relative;
  }
  .page .dishes__card:active .dishes__card--box {
    width: 80px;
    height: 81.2px;
  }
  .page .dishes__card--meal {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 88%;
  }
  .page .dishes h4 {
    font-size: 1.2rem;
  }
  .page .price {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    width: 27px !important;
  }
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  .page {
    position: relative;
    margin-top: -3.2rem;
    border-radius: 40px;
    flex-wrap: wrap;
  }
  .page__title {
    font-size: 2rem;
    margin-left: 1rem;
  }

  .dishes {
    margin: auto;
    width: 30%;
  }
  .dishes__bar {
    width: 3rem;
  }
  .dishes__bar--title {
    margin-top: -5rem;
  }
  .dishes h3 {
    width: 100%;
  }
  .dishes__card {
    text-align: center;
  }
  .dishes__card p, .dishes__card h4 {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 88%;
  }
  .dishes__card h4 {
    padding-top: 0.5rem;
  }

  .price {
    text-align: center;
    padding-bottom: 0.5rem;
  }

  .button {
    margin: auto;
  }
}
@media screen and (min-width: 993px) {
  .page {
    position: relative;
    margin-top: -10rem;
    border-radius: 40px;
    flex-wrap: wrap;
  }
  .page__title {
    width: 100%;
    font-size: 2rem;
  }

  .dishes {
    margin: auto;
    width: 30%;
  }
  .dishes__bar {
    width: 3rem;
  }
  .dishes__bar--title {
    margin-top: -5rem;
  }
  .dishes__card {
    text-align: center;
  }
  .dishes__card p, .dishes__card h4 {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 90%;
  }
  .dishes__card h4 {
    padding-top: 0.5rem;
  }
  .dishes .price {
    padding-bottom: 0.5rem;
  }

  .button {
    margin: auto;
  }
}
@media screen and (min-width: 1400px) {
  .page {
    margin-top: -20rem;
  }

  .dishes {
    width: 32%;
  }
}
footer {
  background-color: #333333;
  color: white;
  padding: 1rem 0;
}
footer h2 {
  margin: 0;
  font-family: "Shrikhand", cursive;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
footer ul {
  padding: 0;
}
footer li {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  font-size: 1rem;
  list-style: none;
  margin-bottom: 0.5rem;
}
footer a {
  color: white;
}

@media screen and (max-width: 576px) {
  footer h2 {
    font-size: 1rem;
  }
  footer i {
    width: 8%;
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  footer h2 {
    font-size: 1.2rem;
  }
  footer i {
    width: 2rem;
  }
}
@media screen and (min-width: 993px) {
  footer i {
    width: 2rem;
  }
}
.button {
  cursor: pointer;
  background: linear-gradient(#9356dc, #ff79da);
  font-size: 0.9rem;
  border-radius: 25px;
  border: none;
  box-shadow: 0 7px 10px 0 #b3b3b3;
  color: white;
  font-weight: 510;
  padding: 16px;
  margin-bottom: 3rem;
}
.button:hover {
  box-shadow: 0 7px 10px 0 gray;
}

@media screen and (max-width: 576px) {
  .page button {
    border-radius: 30px;
    border: none;
    padding: 1rem 3rem;
    color: white;
    background-color: #9356dc;
    font-size: 1rem;
    margin-bottom: 4rem;
    margin-top: 2rem;
  }
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  .page button {
    width: 170px;
  }
}
@media screen and (min-width: 993px) {
  .page button {
    width: 170px;
  }
  .page button:hover {
    box-shadow: 0 7px 10px 0 gray;
  }
}

/*# sourceMappingURL=styles.css.map */
