.dishes {
  &__card {
    &:active .dishes__card--box {
      animation: checkbox linear 400ms;
      height: auto;
      width: 30%;
    }
    &:active i {
      animation: icon linear 400ms;
      width: 32px;
      font-size: 2rem;
      color: white;
    }
    &:active .dishes__card--title-meal {
      width: 100%;
    }
    &:active .dishes__card--price {
      width: 10%;
    }
    @keyframes icon {
      0% {
        color: transparent;
        transform: rotate(0.5turn);
      }
      20% {
        color: white;
      }
      100% {
        color: white;
        width: 32px;
        font-size: 2rem;
        transform: rotate(1turn);
      }
    }
    @keyframes checkbox {
      0% {
        width: 0;
        min-width: 0;
      }
      100% {
        width: 30%;
      }
    }
  }
  &__price-box {
    &--box {
      &:active {
        animation: slideIn linear 500ms;
      }
    }
  }
}

@include mobile-only {
  .dishes__card:active {
    .dishes__price-box--box {
      animation: slideIn linear 500ms;
      & i {
        animation: icon-rotate linear 500ms;
      }
    }
    @keyframes slideIn {
      0% {
        width: 0;
        margin-right: -50px;
        transform: scale(0);
      }
      100% {
        width: 70%;
        height: 85.2px;
        margin-right: 0;
        transform: scale(1);
      }
    }
    @keyframes icon-rotate {
      0% {
        width: 0;
      }
      100% {
        font-size: 2rem;
        width: 32px;
        transform: rotate(0.5turn);
        transition: transform 700ms ease-in-out;
      }
    }
  }
  .dishes__card {
    &:active {
      .dishes__card {
        &--meal,
        &--title {
          width: 60%;
        }
        & p {
          margin-top: 0;
        }
      }
    }
  }
}
