.button {
  cursor: pointer;
  background: linear-gradient($color-primary, $color-secondary);
  @include button;
  color: white;
  font-weight: 510;
  padding: 16px;
  margin-bottom: 3rem;
}

@include mobile-only {
  .page button {
    border-radius: 30px;
    border: none;
    padding: 1rem 3rem;
    color: white;
    background-color: $color-primary;
    font-size: 1rem;
    margin-bottom: 4rem;
    margin-top: 2rem;
  }
}
