@mixin mobile-only {
  @media screen and (max-width: 576px) {
    @content;
  }
}

@mixin margin {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

@mixin button {
  font-size: 0.9rem;
  border-radius: 25px;
  border: none;
  box-shadow: 0 7px 10px 0 darken($color: white, $amount: 30%);
}
