.card-image {
  margin: 0 -18px;
  img {
    object-fit: cover;
  }
}

@include mobile-only {
  .card-image {
    img {
      width: 100%;
      height: 40vh;
    }
  }
}

@include small-to-large {
  .card-image {
    img {
      width: 100%;
      height: 40vh;
    }
  }
}

@include large-screen {
  .card-image {
    img {
      width: 100%;
      height: 50vh;
    }
  }
}
@include extra-large-screen {
  .card-image {
    img {
      height: 100vh;
    }
  }
}
