@include mobile-only {
  header {
    @include margin;
    h1 {
      margin: 0.8rem 0 0.5rem 0;
      height: auto;
    }

    img {
      width: 50%;
    }
  }
  .return-title {
    width: 100%;
    margin: 1.5rem 0 0.8rem 0;
    a {
      text-decoration: none;
      color: black;
      vertical-align: super;
      @include margin;
      font-size: 1.3rem;
    }
    img {
      margin-left: 2rem;
    }
  }
}

.container {
  header {
    text-align: center;
  }
}

@include small-to-large {
  header {
    h1 {
      margin: 0.5rem auto;
    }
    img {
      width: 40%;
    }
  }
}
.return-title {
  display: flex;
  align-items: center;
  margin: 1.5rem 0 0.8rem 0;
  a {
    text-decoration: none;
    color: black;
    @include margin;
    font-size: 1.5rem;
  }
  img {
    margin: auto;
  }
}
