.menu {
  margin-bottom: 4rem;
  & h2 {
    @include margin;
    font-weight: 600;
    margin-top: 2.5rem;
  }
  &__number {
    background-color: $color-primary;
    color: white;
    border-radius: 50px;
    text-align: center;
    width: 1.3rem;
    height: 1.3rem;
  }
  &__list {
    background-color: $bg-color;
    box-shadow: 0 7px 10px 0 darken($color: white, $amount: 15%);
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    border-radius: 25px;
    padding: 0.5rem;
    cursor: pointer;
    &--word {
      font-weight: bold;
      margin-right: 2.5rem;
      width: 190px;
    }
  }
  &__icon {
    color: darken($color: white, $amount: 50%);
    font-size: 1.2rem;
    width: 25px;
  }
  &__number {
    width: 20px;
  }
}
@include mobile-only {
  .menu {
    &__number {
      &--1 {
        margin-left: -1.8rem;
      }
      &--2,
      &--3 {
        margin-left: -2rem;
      }
    }
    &__list {
      margin: 1.2rem auto;
      width: 320px;
      &:active {
        background-color: lighten($color: $color-primary, $amount: 30%);
        .menu__icon {
          background-color: $color-primary;
          color: transparent;
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
  }
}
@include small-to-large {
  .menu {
    flex-direction: row;
    &__list {
      position: relative;
      width: 90%;
      margin: 1.2rem auto;
      &:active {
        background-color: lighten($color: $color-primary, $amount: 30%);
        .menu__icon {
          background-color: $color-primary;
          color: transparent;
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
    &__number {
      position: absolute;
      left: -0.7rem;
    }
  }
}
@include large-screen {
  .info-block {
    margin-bottom: 10rem;
  }
  .menu {
    display: flex;
    justify-content: space-between;
    position: relative;
    & h2 {
      width: 100%;
      position: absolute;
      bottom: 5rem;
    }
    &__icon {
      text-align: end;
      height: 20px;
    }
    &__list {
      @include margin;
      width: 30%;
      max-width: 450px;
      &--word {
        text-align: center;
      }
      &:hover {
        background-color: lighten($color: $color-primary, $amount: 30%);
        .menu__icon {
          background-color: $color-primary;
          color: transparent;
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
  }
}
