@include mobile-only {
  .menu {
    & h2 {
      font-weight: 600;
      margin-top: 2.5rem;
      @include margin;
    }
    & ol {
      padding: 0;
    }
    & li {
      text-align: center;
    }
    & .button {
      &:active {
        background-color: lighten($color: $color-primary, $amount: 30%);
      }
    }
    & i {
      color: darken($color: white, $amount: 50%);
    }
  }
}
