.card-image {
  margin: 0;
}
.page {
  background-color: white;
  display: flex;
  align-items: center;
  &__title {
    @include margin;
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding-top: 2rem;
    & i {
      width: 10%;
      text-align: right;
    }
  }
  .dishes {
    h3 {
      text-transform: uppercase;
      font-weight: normal;
      margin-bottom: 0.5rem;
    }
    &__bar {
      border-bottom: 0.2rem solid $color-tertiary;
    }
    &__card {
      display: flex;
      flex-direction: row;
      box-shadow: 0 7px 15px 0 darken($color: white, $amount: 20%);
      border-radius: 20px;
      margin: 1.5rem auto;
      padding: 0 1rem;
      &:active {
        .dishes__card--box {
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          right: 0;
        }
      }
      h4,
      p {
        margin-top: 0.1rem;
        margin-bottom: 0rem;
      }
      h4 {
        padding-top: 1rem;
      }
      p {
        padding-bottom: 1rem;
      }
      .price {
        font-weight: bold;
      }
      &--box {
        background-color: $color-tertiary;
        border-radius: 0 20px 20px 0;
        color: white;
        margin: 0;
        display: none;
        & i {
          font-size: 2rem;
        }
      }
    }
  }
}

@include mobile-only {
  .page {
    margin-top: -3.2rem;
    border-radius: 40px;
    position: relative;
    flex-direction: column;
    &__title {
      font-size: 1.8rem;
      & i {
        font-size: 1.5rem;
        margin: auto;
      }
    }
    .dishes {
      width: 100%;
      @include margin;
      &__bar {
        @include margin;
        width: 3rem;
      }
      &__card {
        width: 85%;
        position: relative;
        &:active {
          .dishes__card--box {
            width: 80px;
            height: 81.2px;
          }
        }
        &--meal {
          display: inline-block;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 88%;
        }
      }
      h4 {
        font-size: 1.2rem;
      }
    }
    .price {
      position: absolute;
      right: 1rem;
      bottom: 1rem;
      width: 27px !important;
    }
  }
}
@include small-to-large {
  .page {
    position: relative;
    margin-top: -3.2rem;
    border-radius: 40px;
    flex-wrap: wrap;
    &__title {
      font-size: 2rem;
      margin-left: 1rem;
    }
  }
  .dishes {
    margin: auto;
    width: 30%;
    &__bar {
      width: 3rem;
      &--title {
        margin-top: -5rem;
      }
    }
    & h3 {
      width: 100%;
    }
    &__card {
      text-align: center;
      & p,
      & h4 {
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 88%;
      }
      & h4 {
        padding-top: 0.5rem;
      }
    }
  }
  .price {
    text-align: center;
    padding-bottom: 0.5rem;
  }
  .button {
    margin: auto;
  }
}

@include large-screen {
  .page {
    position: relative;
    margin-top: -10rem;
    border-radius: 40px;
    flex-wrap: wrap;
    &__title {
      width: 100%;
      font-size: 2rem;
    }
  }
  .dishes {
    margin: auto;
    width: 30%;
    &__bar {
      width: 3rem;
      &--title {
        margin-top: -5rem;
      }
    }
    &__card {
      text-align: center;
      & p,
      & h4 {
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 90%;
      }
      & h4 {
        padding-top: 0.5rem;
      }
    }
    .price {
      padding-bottom: 0.5rem;
    }
  }
  .button {
    margin: auto;
  }
}
@include extra-large-screen {
  .page {
    margin-top: -20rem;
  }
  .dishes {
    width: 32%;
  }
}
