.card-image {
  margin: 0;
}
.page {
  background-color: white;
  display: flex;
  align-items: center;
  &__title {
    @include margin;
    display: flex;
    width: 90%;
    padding-top: 2rem;
    & .first-heart,
    .second-heart {
      position: absolute;
      top: 3.6rem;
      right: 1.5rem;
      cursor: pointer;
    }
    .first-heart {
      color: black;
      width: 2rem;
    }
    .second-heart {
      &:hover {
        animation: heart-animation;
        animation-duration: 200ms;
        background: -webkit-linear-gradient(#9356dc, #ff79da);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
        transition: 0.2s;
        width: 2rem;
      }
    }
    @keyframes heart-animation {
      0% {
        opacity: 0;
      }
      50% {
        opacity: 0.5;
      }
      100% {
        opacity: 1;
      }
    }
  }
  .dishes {
    &__starters {
      & .dishes__card {
        animation-duration: 500ms, 250ms;
      }
    }
    &__main {
      .dishes__card {
        animation-duration: 1000ms, 500ms;
      }
    }
    &__desserts {
      .dishes__card {
        animation-duration: 1500ms, 750ms;
      }
    }
    &__card {
      animation: dishesSlideIn, slideWait linear 2s;

      // @keyframes dishesSlideIn {
      //   0% {
      //     opacity: 0;
      //     transition: ease-in-out;
      //     transform: translateY(1rem);
      //   }

      //   100% {
      //     opacity: 1;
      //     transition: ease-in-out;
      //     transform: translateY(0);
      //   }
      // }
      // @keyframes slideWait {
      //   0% {
      //     opacity: 0;
      //   }
      //   100% {
      //     opacity: 0;
      //   }
      // }
    }
    .dishes__card:active {
      .dishes__price-box--box {
        animation: slideIn linear 500ms;
        & i {
          animation: icon-rotate linear 500ms;
        }
      }
      @keyframes slideIn {
        0% {
          width: 0;
        }
        100% {
          animation-fill-mode: forwards;
        }
      }
      @keyframes icon-rotate {
        0% {
          width: 0;
        }
        100% {
          transform: rotate(0.5turn);
          transition: transform 500ms ease-in-out;
        }
      }
    }
    &__price-box {
      width: 100%;
      display: flex;
      justify-content: space-between;
      font-weight: bold;
      &--box {
        width: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-tertiary;
        color: white;
        border-radius: 0 20px 20px 0;
        &:active {
          animation: slideIn linear 500ms;
        }
        & i {
          rotate: (0.5turn);
        }
      }
      p {
        width: 20%;
        margin-right: -80px;
      }
    }
    h3 {
      text-transform: uppercase;
      font-weight: normal;
      margin-bottom: 0.5rem;
    }
    &__bar {
      border-bottom: 0.2rem solid $color-tertiary;
    }
    &__card {
      display: flex;
      justify-content: space-between;
      box-shadow: 0 7px 15px 0 darken($color: white, $amount: 20%);
      border-radius: 20px;
      margin: 1.5rem auto;
      padding: 0 0 0 1rem;
      h4,
      p {
        margin-top: 0.1rem;
        margin-bottom: 0rem;
      }
      h4 {
        padding-top: 1rem;
      }
      p {
        padding-bottom: 1rem;
      }
    }
  }
}

@include mobile-only {
  .page {
    margin-top: -3.2rem;
    border-radius: 40px;
    position: relative;
    flex-direction: column;
    &__title {
      font-size: 1.8rem;
      & i {
        font-size: 1.5rem;
        margin: auto;
      }
    }
    .dishes {
      width: 100%;
      @include margin;
      &__bar {
        @include margin;
        width: 3rem;
      }
      &__card {
        flex-direction: row;
        width: 85%;
        position: relative;
        &:active {
          // p {
          //   transform: translateX(-5rem);
          //   transition: 300ms;
          //   margin-top: 3rem;
          // }
          .dishes__card {
            &--meal,
            &--title {
              width: 60%;
            }
            & p {
              margin-top: 0;
            }
          }
        }
        &--meal {
          display: inline-block;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 200px;
        }
        & h4 {
          font-size: 1.2rem;
          display: inline-block;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 100%;
        }
      }
      .dishes__card:active {
        .dishes__price-box--box {
          animation: slideIn linear 500ms;
          & i {
            animation: icon-rotate linear 500ms;
          }
        }
        @keyframes slideIn {
          0% {
            width: 0;
            margin-right: -50px;
            transform: scale(0);
          }
          100% {
            width: 70%;
            height: 85.2px;
            margin-right: 0;
            transform: scale(1);
          }
        }
        @keyframes icon-rotate {
          0% {
            width: 0;
          }
          100% {
            font-size: 2rem;
            width: 32px;
            transform: rotate(0.5turn);
            transition: transform 700ms ease-in-out;
          }
        }
      }
      &__price-box {
        width: 100%;
        p {
          margin-top: 3rem;
          width: 30%;
        }
      }
    }
  }
}
@include small-to-large {
  .page {
    position: relative;
    margin-top: -3.2rem;
    border-radius: 40px;
    flex-wrap: wrap;
    &__title {
      font-size: 2rem;
      margin-left: 1rem;
    }
  }
  .dishes {
    margin: auto;
    width: 30%;
    &__bar {
      width: 3rem;
      &--title {
        margin-top: -7.3rem;
      }
    }
    & h3 {
      width: 100%;
    }
    &__card {
      text-align: center;
      flex-direction: column;
      & p,
      & h4 {
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 88%;
      }
      & h4 {
        padding-top: 0.5rem;
      }
    }
  }
  .price {
    text-align: center;
    padding-bottom: 0.5rem;
  }
  .button {
    margin: auto;
  }
}

@include large-screen {
  .page {
    position: relative;
    margin-top: -10rem;
    border-radius: 40px;
    flex-wrap: wrap;
    &__title {
      width: 100%;
      font-size: 2rem;
    }
  }

  .dishes {
    margin: auto;
    width: 30%;
    &__bar {
      width: 3rem;
      &--title {
        margin-top: -7.3rem;
      }
    }
    &__card {
      text-align: center;
      flex-direction: row;
      &:hover .dishes__card--box {
        animation: checkbox linear 400ms;
        height: auto;
        width: 30%;
      }
      &:hover i {
        animation: icon linear 400ms;
        width: 32px;
        font-size: 2rem;
        color: white;
      }
      &:hover .dishes__card--title-meal {
        width: 100%;
      }
      &:hover .dishes__card--price {
        width: 10%;
      }
      @keyframes icon {
        0% {
          color: transparent;
          transform: rotate(0.5turn);
        }
        20% {
          color: white;
        }
        100% {
          color: white;
          width: 32px;
          font-size: 2rem;
          transform: rotate(1turn);
        }
      }

      @keyframes checkbox {
        0% {
          width: 0;
          min-width: 0;
        }
        100% {
          width: 30%;
        }
      }
      &--title,
      &--meal {
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 90%;
      }
      &--meal {
        padding-top: 0.5rem;
      }
      &--box {
        display: flex;
        justify-content: center;
        background-color: $color-tertiary;
        border-radius: 0 20px 20px 0;
        & i {
          display: flex;
          margin: auto;
          color: transparent;
          min-width: 0;
          width: 0;
        }
      }
      &--price {
        margin: 0 1rem;
        .price {
          padding-bottom: 0.5rem;
          margin-top: 3.3rem;
          width: 10%;
          font-weight: bold;
        }
      }

      &--title-meal {
        width: 100%;
        overflow: hidden;
      }
    }
  }
  .button {
    margin: auto;
  }
}
@include extra-large-screen {
  .page {
    margin-top: -20rem;
  }
  .dishes {
    width: 32%;
  }
}
