.card-image {
  margin: 0;
}
.page {
  background-color: white;
  display: flex;
  align-items: center;
  &__title {
    @include margin;
    display: flex;
    width: 90%;
    padding-top: 2rem;
  }
  .dishes {
    &__card {
      flex-direction: row;
      &--title,
      &--meal {
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 90%;
      }
      &--meal {
        padding-top: 0.5rem;
      }
      &--box {
        display: flex;
        justify-content: center;
        background-color: $color-tertiary;
        border-radius: 0 20px 20px 0;
        & i {
          display: flex;
          margin: auto;
          color: transparent;
          min-width: 0;
          width: 0;
        }
      }
      &--price {
        margin: 0 1rem;
        .price {
          padding-bottom: 0.5rem;
          margin-top: 3.3rem;
          width: 10%;
          font-weight: bold;
        }
      }

      &--title-meal {
        width: 100%;
        overflow: hidden;
      }
    }

    &__price-box {
      width: 100%;
      display: flex;
      justify-content: space-between;
      font-weight: bold;
      &--box {
        width: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-tertiary;
        color: white;
        border-radius: 0 20px 20px 0;
      }
      p {
        width: 20%;
        margin-right: -80px;
      }
    }
    h3 {
      text-transform: uppercase;
      font-weight: normal;
      margin-bottom: 0.5rem;
    }
    &__bar {
      border-bottom: 0.2rem solid $color-tertiary;
    }
    &__card {
      display: flex;
      justify-content: space-between;
      box-shadow: 0 7px 15px 0 darken($color: white, $amount: 20%);
      border-radius: 20px;
      margin: 1.5rem auto;
      padding: 0 0 0 1rem;
      h4,
      p {
        margin-top: 0.1rem;
        margin-bottom: 0rem;
      }
      h4 {
        padding-top: 1rem;
      }
      p {
        padding-bottom: 1rem;
      }
    }
  }
}

@include mobile-only {
  .page {
    margin-top: -3.2rem;
    border-radius: 40px;
    position: relative;
    flex-direction: column;
    &__title {
      font-size: 1.8rem;
      & i {
        font-size: 1.5rem;
        margin: auto;
      }
    }
    .dishes {
      width: 100%;
      @include margin;
      &__bar {
        @include margin;
        width: 3rem;
      }
      &__card {
        flex-direction: row;
        width: 85%;
        position: relative;
        &--meal {
          display: inline-block;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        & h4 {
          font-size: 1.2rem;
          display: inline-block;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 100%;
        }
      }

      &__price-box {
        width: 100%;
        p {
          margin-top: 3rem;
          width: 30%;
        }
      }
    }
  }
}

@include small-to-large {
  .page {
    position: relative;
    margin-top: -3.2rem;
    border-radius: 40px;
    flex-wrap: wrap;
    &__title {
      font-size: 2rem;
      margin-left: 1rem;
    }
  }
  .dishes {
    margin: auto;
    width: 30%;
    &__bar {
      width: 3rem;
      &--title {
        margin-top: -7.3rem;
      }
    }
    & h3 {
      width: 100%;
    }
    &__card {
      text-align: center;
      flex-direction: column;
      & p,
      & h4 {
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 88%;
      }
      & h4 {
        padding-top: 0.5rem;
      }
      &--title-meal {
        width: 40%;
      }
    }
  }
  .price {
    text-align: center;
    padding-bottom: 0.5rem;
  }
  .button {
    margin: auto;
  }
}

@include large-screen {
  .page {
    position: relative;
    margin-top: -10rem;
    border-radius: 40px;
    flex-wrap: wrap;
    &__title {
      width: 100%;
      font-size: 2rem;
    }
  }

  .dishes {
    margin: auto;
    width: 30%;
    &__bar {
      width: 3rem;
      &--title {
        margin-top: -7.3rem;
      }
    }
  }
  .button {
    margin: auto;
  }
}

@include extra-large-screen {
  .page {
    margin-top: -20rem;
  }
  .dishes {
    width: 32%;
  }
}
